@import '../../styles/variables';


/* button sizes  */

.smallButton {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding:  0.25rem, 1rem, 0.25rem, 1rem;
border-radius: 4px;
width: 6.87rem;
height: 1.5rem;
box-shadow: $shadowBtnColor;

}

.defaultButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:  0.5rem, 1.5rem, 0.5rem, 1.5rem;
    border-radius: 4px;
    width: 9.87rem;
    height: 2.75rem;
    box-shadow: $shadowBtnColor;
}

.largeButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:  0.5rem, 1.5rem, 0.5rem, 1.5rem;
    border-radius: 4px;
    width: 10.25rem;
    height: 3rem;
    box-shadow: $shadowBtnColor;
}

/*  classic buttons */

.blueButton {
    background-color: $blueBtn;
}

.darkGreyButton {
    background-color: $darkGreyBtn;
}

.greenButton {
    background-color: $greenBtn;
}

.redButton {
    background-color: $redBtn;
}

.orangeButton {
    background-color: $orangeBtn;
}

.aquaButton {
    background-color: $aquaBtn;
}

.lightGreyButton {
    background-color: $lightGreyBtn;
    color: black;
}

.blackButton {
    background-color: $blackBtn;
    
}

.whiteButton {
    background-color: white;
    color: black;
}

/* white background buttons */

.blueWBButton {
    border: solid;
    border-color:$blueBtn;
    color:$blueBtn;
}

.darkGreyWBButton {
    border: solid;
    border-color: $darkGreyBtn;
    color: $darkGreyBtn;
}

.greenWBButton {
    border: solid;
    border-color: $greenBtn;
    color: $greenBtn;
}

.redWBButton {
    border: solid;
    border-color: $redBtn;
    color: $redBtn;
}

.orangeWBButton {
    border: solid;
    border-color: $orangeBtn;
    color:$orangeBtn;
}

.aquWBaButton {
    border: solid;
    border-color: $aquaBtn;
    color: $aquaBtn;
}

.lightGreyWBButton{
    border: solid;
    border-color: $lightGreyBtn;
    color: $lightGreyBtn;
}

.blackWBButton {
    border: solid;
    border-color: $blackBtn;
    color: $blackBtn;
    
}

/* filled background buttons */

.blueButton {
    background-color:$blueBtn;
    color: $blueBtnText;
}

.darkGreyButton {
    background-color: $darkGreyBtn;
    color: black;
}

.greenButton {
    background-color: $greenBtn;
    color: $greenBtnText;
}

.redButton {
    background-color: $redBtn;
    color:$redBtnText;
}


.aquaButton {
    background-color: $aquaBtn;
    color: $aquaBtnText;
}




