$headerHeight: 6rem;
$footerHeight: 7rem;
$homePageBcgColor: orange;
$aboutPageBcgColor: purple;
$contactPageBcgColor: lightgreen;
$headerBcgColor: rgb(229, 247, 229);
$footerBcgColor: rgb(185, 196, 233);
$shadowBtnColor: 0px 2px 4px rgba(58, 87, 232, 0.3);
$blueBtn: #3A57E8;
$darkGreyBtn: #6C757D;
$greenBtn: #1AA053;
$redBtn: #C03221;
$orangeBtn: #F16A1B;
$aquaBtn: #079AA2;
$lightGreyBtn: #DEE2E6;
$blackBtn: #212529;
$blueBtnText: #2D42B2;
$greenBtnText: #147A3F;
$redBtnText: #95271A;
$aquaBtnText: #057980;
